.custom-navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
    background: url('../../assets/banner1.jpg') no-repeat center center fixed;
    background-size: cover;
    justify-content: space-between;
    padding: 0 15px;
  }